.account-masthead {
    background: #fff url(/images/bg-header.png) no-repeat;
    height: 100px;
    # min-height: 200px;
    # background-size: cover;
    background-size: auto;
}

.masthead .navigation {
    margin-bottom: 2px;
}

.account-masthead .account ul li {
    background: #005d7a url("../../../base/images/bg.png");
}

.account-masthead .account ul li a {
    color: #fff;
}

a.logo {
    margin-top: 5px;
    margin-bottom: 5px;    
    display: block;
}

