.account-masthead {
    background: #fff url(/images/bg-header.png);
    min-height: 300px;
}

.masthead .navigation {
    margin-bottom: 2px;
}

.account-masthead .account ul li a {
    color: #fff;
}

a.logo {
    margin-top: 5px;
    margin-bottom: 5px;    
    display: block;
}

