{% trans %}
<strong>The I-lab Catalog</strong>
<p>The I-lab Catalog is provided by the Utrecht University and  is part of Yoda for IOS, an online Research Data Management Platform for interdisciplinary use of data (collections) and is launched under the strategic theme Institutions for Open Societies (IOS) at Utrecht University.</p>

<strong>Variety of data in the I-lab Catalog</strong>
<p>Scholars from economics, history, public administration, law, sociology, language and communication, ethics, social and organizational psychology, innovation studies, and geography have decided to join forces to improve the understanding of the formation and effects of these institutions. By combining their expertise, they contribute to the construction of open and sustainable societies. </p>

<strong>Access Data from the I-lab Catalog</strong>
<p>The catalogue shows the datasets and collections from IOS scholars and a short description of the  data. After clicking on the title, the description of the research appears and also the additional Info  of the dataset. After clicking on the Source, more Metadata is displayed as well as the license. Most of the published data is open access.</p>

<strong>Publish in the I-lab Catalog</strong>
<p>Scholars within IOS can promote their data in the I-lab Catalog by publishing it via Yoda for IOS. They can contact the datamanager of IOS Frans de Liagre Böhl via e-mail: <a href="mailto:f.bohl@uu.nl">f.bohl@uu.nl</a></p>

<strong>More Information</strong>
<p>
More information about Institutions for Open Societies can be found <a href="https://www.uu.nl/en/research/institutions-for-open-societies/research-themes">here</a>.
<br />
More information about Research Data Management at the Utrecht University can be found <a href="https://www.uu.nl/en/research/research-data-management">here</a>.
</p>
{% endtrans %}
